/dist
/database/database.sqlite
/public/hot
/public/storage
/public/fonts
/public/webfonts
/public/scss
/public/icons
/public/vendors
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/build/*
